@font-face {
    font-family: 'font1';
    src: url(./fonts/CaviarDreams-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}


:root{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'font1', Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    display: flex;
}

h1{
    font-size: min(2.3vh,2.3vw);
}

h2{
    padding: min(1vh,1vw) min(3vh,3vw);
    margin: 0;
}
header>p{
    font-size: min(2.2vh,2.2vw);
    text-decoration: underline;
}

.img-holder{
    position: relative;
    display:flex;
    height: min(100vh,100vw);
}
.logo{
    position: absolute;
    width: 100%;
    height: min(22vh,22vw);
    object-fit:cover;
    left: 0;
    right: 0;
    top: min(10vh,10vw);
    background-color: rgba(255, 255, 255, 0.269);
}
.left-img{
    height: min(100vh,100vw);
}
.second-half{
    display: flex;
    flex-direction: column;
    max-height: min(100vh,100vw);
    background-color: rgb(240, 252, 255);
}

header{
    padding: min(1vh,1vw);
    background-color: rgb(240, 252, 255);
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 252, 255);
    font-size: min(2vh,2vw);
}

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='password'],
select{
    height: min(2.5vh,2.5vw);
    font-size: min(2vh,2vw);
    font-family: 'font1',Arial, Helvetica, sans-serif;
    border-radius: min(0.3vh,0.3vw);
    width: min(25vh,25vw);
}

input[type='text']:focus,
input[type='email']:focus,
input[type='tel']:focus,
input[type='password']:focus{
    background-color: rgba(211, 251, 255, 0.314) ;
}
input:optional{
background-color: rgb(244, 244, 244);
border: 0.5px solid black;
}
input:valid{
    border: 2px solid green;
}
input:invalid{
    border: 2px solid red;
}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: min(1vh,1vw) 0;
}
.input-cont{
    padding: min(2vh,2vw);
    display: flex;
    flex-direction: column;
    align-items: start;
    flex:1;
    min-width: min(20vw,20vw);
    position: relative;
}

fieldset{
    display: flex;
    flex-direction: column;
    width: max(60vw,60vh);
}

.top-form{
    margin: min(1vh,1vw);
    padding: min(2vh,2vw);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.275);
    background-color: rgb(250, 255, 255);
    border-radius: 5px;
}
.req::before{
 position: absolute;
 content: 'required';
 top: min(2.2vh,2.2vw);
 padding: min(0.2vh,0.2vw);
 left: min(22.8vh,22.8vw);
 background-color: black;
 color: white;
 font-size: min(1vh,1vw);
 border-radius: min(0.4vh,0.4vw);
}

input:valid>.req::after{
    position: absolute;
    top: min(2.5vh,2.5vw);
    padding: min(0.2vh,0.2vw);
    left: min(28vh,28vw);
    font-size: min(4vh,4vw);
    border-radius: min(0.4vh,0.4vw); 
   }

input:required:valid+.req::after{
 position: absolute;
 content: "✓";
 top: min(2.5vh,2.5vw);
 padding: min(0.2vh,0.2vw);
 left: min(28vh,28vw);
 color: green;
 font-size: min(4vh,4vw);
 border-radius: min(0.4vh,0.4vw); 
}
input:required:invalid+.req::after{
    position: absolute;
    content: "✖";
    top: min(3vh,3vw);
    padding: min(0.2vh,0.2vw);
    left: min(28vh,28vw);
    color: red;
    font-size: min(4vh,4vw);
    border-radius: min(0.4vh,0.4vw); 
   }
div>p{
    font-size: min(1vh,1vw);
}

footer{
    font-size: min(2.2vh,2.2vw);
    padding: min(1vh,1vw) min(5vh,5vw);
    background-color: rgb(240, 252, 255);
}
footer>p{
    margin-bottom: 0;
}

button{
    font-size: min(2.2vh,2.2vw);
    border-radius: min(0.4vh,0.4vw);
    background-color: black;
    color: white;
    padding: min(1vh,1vw);
    cursor: pointer;
}

.sign-in{
    color: rgb(0, 94, 255);
    font-weight: bold;
    cursor: pointer;
}


@media  screen and (orientation: portrait){
    body{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: black;
    }
    .img-holder{
        position: relative;
        display:flex;
        height: min(100vh,100vw);
        width: 100%;
    }
    .logo{
        position: absolute;
        width: 100%;
        height: max(22vh,22vw);
        object-fit:cover;
        left: 0;
        right: 0;
        top: min(10vh,10vw);
        background-color: rgba(255, 255, 255, 0.269);
    }
    .left-img{
        width:100%;
    }
    .second-half{
        display: flex;
        flex-direction: column;
        max-height: min(100vh,100vw);
        background-color: rgb(240, 252, 255);
    }
    
    header{
        padding: min(1vh,1vw);
        background-color: rgb(240, 252, 255);
        text-align: center;
    }
    
    form{
        display: flex;
        flex-direction: column;
        background-color: rgb(240, 252, 255);
        font-size: min(2vh,2vw);
    }
    
    input[type='text'],
    input[type='email'],
    input[type='tel'],
    input[type='password'],
    select{
        height: min(2.5vh,2.5vw);
        font-size: min(2vh,2vw);
        font-family: 'font1',Arial, Helvetica, sans-serif;
        border-radius: min(0.3vh,0.3vw);
        width: min(25vh,25vw);
    }
    
    input[type='text']:focus,
    input[type='email']:focus,
    input[type='tel']:focus,
    input[type='password']:focus{
        background-color: rgba(211, 251, 255, 0.314) ;
    }
    input:optional{
    background-color: rgb(244, 244, 244);
    border: 0.5px solid black;
    }
    input:valid{
        border: 2px solid green;
    }
    input:invalid{
        border: 2px solid red;
    }
    
    section{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: min(1vh,1vw) 0;
    }
    .input-cont{
        padding: min(2vh,2vw);
        display: flex;
        flex-direction: column;
        align-items: start;
        flex:1;
        flex-wrap: wrap;
        position: relative;
    }
    
    fieldset{
        display: flex;
        flex-direction: column;
        width: max(60vw,60vh);
    }
    
    .top-form{
        margin: min(1vh,1vw);
        padding: min(2vh,2vw);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.275);
        background-color: rgb(250, 255, 255);
        border-radius: 5px;
    }
    .req::before{
     position: absolute;
     content: 'required';
     top: min(2.2vh,2.2vw);
     padding: min(0.2vh,0.2vw);
     left: min(22.8vh,22.8vw);
     background-color: black;
     color: white;
     font-size: min(1vh,1vw);
     border-radius: min(0.4vh,0.4vw);
    }
    
    input:valid>.req::after{
        position: absolute;
        top: min(2.5vh,2.5vw);
        padding: min(0.2vh,0.2vw);
        left: min(28vh,28vw);
        font-size: min(4vh,4vw);
        border-radius: min(0.4vh,0.4vw); 
       }
    
    input:required:valid+.req::after{
     position: absolute;
     content: "✓";
     top: min(2.5vh,2.5vw);
     padding: min(0.2vh,0.2vw);
     left: min(28vh,28vw);
     color: green;
     font-size: min(4vh,4vw);
     border-radius: min(0.4vh,0.4vw); 
    }
    input:required:invalid+.req::after{
        position: absolute;
        content: "✖";
        top: min(3vh,3vw);
        padding: min(0.2vh,0.2vw);
        left: min(28vh,28vw);
        color: red;
        font-size: min(4vh,4vw);
        border-radius: min(0.4vh,0.4vw); 
       }
    div>p{
        font-size: min(1vh,1vw);
    }
    
    footer{
        font-size: min(2.2vh,2.2vw);
        padding: min(1vh,1vw) min(5vh,5vw);
        background-color: rgb(240, 252, 255);
    }
    footer>p{
        margin-bottom: 0;
    }
    
    button{
        font-size: min(2.2vh,2.2vw);
        border-radius: min(0.4vh,0.4vw);
        background-color: black;
        color: white;
        padding: min(1vh,1vw);
        cursor: pointer;
    }
    
    .sign-in{
        color: rgb(0, 94, 255);
        font-weight: bold;
        cursor: pointer;
    }
}